header{
  font-family: 'Original Surfer', cursive;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: rgb(255, 0, 149);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 4px 0 0 rgba(250, 10, 150, 0.979);
  }
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 53px;
    box-shadow: 0 0 4px rgba(250, 10, 150, 0.979);
    background-color: rgb(255, 0, 149);
    display: flex;
    overflow-x: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
  }
  
.nav__link:hover {
    background-color: #4444448f;
  }
.nav__icon {
    font-size: 20px;
  }
.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
  }
  
.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
  }
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
iframe {
  width: 100%;
  height: 11em;
}
.thumb {
  background-color: rgb(9, 16, 48);;
  padding-top: 3.4em;
}
.modal-footer {
  background-color: rgb(18, 13, 44);
}

